{#- Copyright 2026, Kay Hayen, mailto:kay.hayen@gmail.com find license text at end of file -#}

static int {{ helper_name }}(PyThreadState *tstate, PyObject *source) {
#if PYTHON_VERSION >= 0x3c0 && PYTHON_VERSION < 0x3e0 && !defined(Py_GIL_DISABLED)
    static Nuitka_AttributeCache cache = {0, 0};
    int hit = Nuitka_AttributeCache_Has(&cache, source);

    if (likely(hit != -1)) {
        return hit;
    }

    PyObject *result = LOOKUP_ATTRIBUTE(tstate, source, {{ attribute_name_code }});
    if (result == NULL) {
{% if can_raise %}
        if (CHECK_AND_CLEAR_ATTRIBUTE_ERROR_OCCURRED(tstate)) {
            return 0;
        }

        return -1;
{% else %}
        CLEAR_ERROR_OCCURRED(tstate);
        return 0;
{% endif %}
    }

    if (cache.type_version == NUITKA_ATTRIBUTE_CACHE_UNINITIALIZED) {
        Nuitka_AttributeCache_Fill(&cache, source, {{ attribute_name_code }}, result);
    }

    Py_DECREF(result);
    return 1;
#else
    return BUILTIN_HASATTR_BOOL(tstate, source, {{ attribute_name_code }});
#endif
}

{#- Part of Nuitka, an optimizing Python compiler compatible with CPython. -#}
{#- Licensed under the GNU Affero General Public License, Version 3. -#}
